@model IEnumerable<MercDevs_ej2.Models.Datosfichatecnica>

<center>
    <h1>Datos Ficha Técnica</h1>
</center>

<br />
<br />

@foreach (var item in Model)
{
    


<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">
                Datos Ficha Técnica
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">ID: @item.IdDatosFichaTecnica </th>
            <th class="border-end">Fecha Inicio: @item.FechaInicio </th>
            <th class="border-end">Fecha finalización: @item.FechaFinalizacion </th>
        </tr>
    </tbody>
</table>

<br />

<table class="table table-dark table-striped border border-light-subtle border-3">
    <thead style="text-align:center">
        <tr>
            <th colspan="3">Datos del Cliente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border-end">Nombre: </th>
            <th class="border-end">Apellido: </th>
            <th class="border-end">Celular: </th>
        </tr>
        <tr>
            <td colspan="2" class="border-end">Correo:</td>
            <td class="border-end">Dirección: </td>
        </tr>
    </tbody>
</table>

<br />


}
<ul>
    <li>Encabezado con los datos del punto 1.a.i</li>
    <li>Datos relevantes del Cliente punto 1.a.ii</li>
    <li>Datos Recepción de Equipo punto 1.a.iii</li>
    <li>Datos "Datos Ficha Tecnica" 1.a.iv</li>
    <li>Datos Recepción de Equipo punto 1.a.iii</li>
    <li>Datos de “Diagnóstico y Soluciones” punto 1.a.v</li>
    <li>Datos Faltantes "Datos Ficha Tecnica" 1.a.vi</li>
    </ul>